body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #565b6b;
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#videoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#videoElement {
    max-width: 100%;
    border-radius: 10px;
}

#timer {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {
    background-color: #45a049;
}

#notepadContainer {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    overflow: auto;
    cursor: move;
}

#notepad {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    resize: none;
    outline: none;
}

#resizeHandle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    cursor: nwse-resize;
    background-color: #ccc;
}

#dragHandle {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: move;
    background-color: #ccc;
}

.button:disabled {
    background-color: #565b6b !important;
    cursor: not-allowed;
}

#videoBackdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 400px); /* Adjust width to make it touch the right side */
    height: 300px;
    background-color: black;
    border-radius: 10px;
    z-index: -1; /* Ensure it's behind other elements */
}

